{% extends 'base.html' %}
{% block content %}
    <p><h2>{{relation.topic}}</h2></p>
    <p>opis wyjazdu: {{relation.content}}</p>
    <p>w jakim stylu jedziemy? {{relation.get_style_display}}</p>
    <p>Dystans wyprawy: {{relation.distans}}</p>
    <p>Skąd startujemy? {{relation.city_start}}</p>
    <p>kiedy ruszamy? {{relation.data_start}}</p>
    <p>data utowrzenia: {{relation.create_date}}</p>
    <p>data modyfikacji: {{relation.last_modification}}</p>
    <p>autor: <a href="/user/{{user.id}}/">{{ relation.creator }}</a></p>
    <p>napisz komentarz <a href="/add_commentrelation/{{ relation.id }}"> tu</a> </p>
    <ul>
        {%  for comment  in comments %}
            <br><li>autor: <a href="/user/{{user.id}}/">{{ comment.creator }}</a></li>
            <li>data utowrzenia: {{ comment.create_date}}</li>
            <li>komentarz: {{ comment.body }}<br></li>
        {% empty %}
            <p>nie ma jeszcze komentarzy</p>
        {%  endfor %}
    </ul>
    <br>
        <form>
            <input type="button" value="cofnij" onclick="history.back()">
        </form>

{% endblock %}